@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text {
  position: absolute;
  top: 0;
}
body {
  font-family: "Playfair Display", serif;
  max-width: 150vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  gap: 1rem;
}
img {
  width: 100%;

  max-width: 150vh;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
