
  @import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
*{
margin: 0;
      padding: 0;
      box-sizing: border-box;
      
}

}
img {
width: 100%;
max-width: 400px;
display: block;
 margin: auto;
}
.progress {
    background-color:rgb(165, 221, 165);
    color:antiquewhite;
    font-size: 35px;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    font-family:'Delicious Handrawn';
}
.looping {
 background-color:rgb(165, 221, 165);
     color:antiquewhite;
     font-size: 35px;
     padding: 10px 20px;
     border-radius: 10px;
     display: inline-block;
     font-family:'Delicious Handrawn';
    
     
}
nav {
                      display: flex;
                      gap: 2rem;
                      margin-right: 10rem;
                      position: absolute;
                      left: 50%;
                      top: 20%;
                      transform: translate(-50%,-50%);
                      
                      
}
a:hover {
                      background-color: green;
                      padding: 10px 20px;
                      border-radius: 30px;
                      transition: all .5s;

}
h1 {
                      font-family:'Delicious Handrawn';
                      font-size: 4rem;
                      text-align: center;
}
.logo {
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
}