@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* GENERAL STYLING */

/* FILL IN */
/* Anywhere in the CSS that you see the px unit, swap it out for either rem or em.

rem: use this for anywhere you see font-size or max-width properties
em: use this for margins and padding (and other things you think should be affected by an element's font size)

Remember, you can't just swap out 'px' for 'rem' or 'em'; you also have to change the amounts of each so that the page looks more or less the same.

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* FILL IN */
    /* Make the scroll behavior of the page smooth, so that when you click on the links to sections in the page, the page smoothly scrolls to them. */
}

body {
    font-family: 'Karla', sans-serif;
    color: #333;
    background-color: #efefef;
}

header, footer {
    background-color: #04ac88;
    color: #eee;
    padding: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}

p {
    line-height: 1.75;
    margin: 40px 0;
    font-size: 18px;
}

img {
    display: block;
    width: 100%;
}

a {
    color: #f04500;
}

a:hover {
    color: #04ac88
}


/* HEADER */

header {
    font-size: 1.25rem;

    /* Add the necessary positioning and sizing properties below to make your header fixed to the top of the viewport. It should also stretch all the way across the width of the viewport. */

    /* position properties */
    /* FILL IN */


    /* Add the necessary flexbox properties below to place the logo all the way to the left of the top bar, and the nav menu all the way to the right. The bottom of the logo should be vertically aligned with the bottoms of the menu items. The entire nav menu should wrap underneath the logo when the page is narrow. There should be a small gap between the logo and the nav menu. */

    /* flex properties */
    /* FILL IN */
}

header a {
    color: #eee;
    text-decoration: none;
}

header a:hover {
    color: #f04500;
}

.logo {
    font-size: 30px;
}

h1 {
    margin-bottom: 16px;
    font-size: 40px;
}

h2 {
    margin-bottom: 16px;
}

.byline {
    margin: 0;
    font-size: 22px;
}


/* MAIN */

main {
    max-width: 700px;
    margin: 16px auto;

    padding: 12px;
    /* Once your header is fixed to the top of the viewport, the top of the page is cut off now, so you can't see the title of the page anymore. Add some padding to the top of the main section so that it isn't cut off by the header. */


}

.fish-menu {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.fish-menu a {
    color: #f04500;
    padding: 12px;
    background-color: #500060;
    border-radius: 32px;
    text-decoration: none;
}

.fish-menu a:hover {
    background-color: #f04500;
    color: #500060;
}

.fish-menu-nav {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

section {
    margin-bottom: 60px;

    /* When you click on the links in the "Jump to Section" menu, the tops of each fish section are cut off by the menu at the top of the screen. Remove the margin-top property below, and replace it with a different property that will make sure the top of each section isn't cut off (hint: it's another property from the box model)  */

    /* FILL IN */
    margin-top: 100px;
}

figure {
    margin: 40px 0;
}

figcaption {
    margin-top: 10px;
    font-weight: 600;
    text-align: center;
}

.highlight {
    background-color: #7df;
    padding: 12px;
    border-left: 12px solid #38a;
    border-radius: 12px;
    margin: 0;
}


/* FOOTER */

footer {
    text-align: center;
}

footer p {
    margin: 0;
}

.back-to-top {


    /* Add the correct position properties here. The back-to-top link should remain fixed to the viewport in the bottom right corner. There should be a little bit of space around the button so that it's not touching the sides of the viewport. */

    /* position properties */
    /* FILL IN */

    text-decoration: none;
    padding: 1em;
    background-color: #444a;
    border-radius: .5em;
    font-weight: bold;
    line-height: 0.5;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    color: white;
}

.back-to-top:hover {
    background-color: #444f;
    color: white;
}