* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.container {
    width: min(100%, 30rem);
    min-height: min-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid red;
    
}

.container > * {
    position: absolute;
    outline: 2px solid green;
}

.rock {
z-index: 1;
}

.cat {
    width: 40%;
    transform: translate(60%, 100%);
    transition: transform 1s;
}

.cat2 {
    width: 400%;
    display: none;
    transform: translate(0, 200%);
}

.cat3 {
    width: 350%;
    display: none;
    transform: translate(-73%, 330%) scaleX(-1);
}

.container:hover .cat {
    transform: translate(60%, -65%);
}

.container:hover .cat2, .container:hover .cat3 {
    display: block;
}