* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #735954;
    /* background-image: url("https://www.goodtextures.com/cache/4c7615bf/av8fa2f0ff83ca54e5123.jpg"); */
    /* background-size: 100%; */
}

a {
    color: black;
}

a:hover {
    color: white;
} 

.container-container {
    left: 50%;
    top: 45%;

    position: absolute;
    display: flex;
    flex-direction: column;
    /*   gap: 1rem; */

      /* background-color: red; */
    /*   border: 5px solid blue; */

    transform-origin: center;
    animation: float 1.5s infinite alternate ease-in-out
}

@keyframes float {

    to {
        transform: translate(-50%, -50%);
    }

    from {
        transform: translate(-50%, -60%);
    }
}

.yarn-container,
.cat-container {
    width: 4rem;
    height: 4rem;
    /*   border: 5px black dotted; */
      /* background-color: pink; */

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cat {
    transform: translate(-37%, 33%);
}

.yarn {
    left: -11%;
    width: 100%;
    position: absolute;

    transform-origin: 65%;
    animation: yarn-rotate 1s infinite linear;
    /*   animation-name: yarn-rotate; */
    animation-timing-function: ease-out;
}

@keyframes yarn-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.yarn-container {
    animation: yarn-bounce 0.5s infinite alternate ease-out;
    transform-origin: center;
}

@keyframes yarn-bounce {
    to {
        transform: translateY(-100%);
    }

    from {
        transform: translateY(0%);
    }
}