* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: plum;
}

body {
    max-width: 50rem;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    padding: 1em;
    text-align: center;
}

main {
    background-color: lightpink;
    flex-grow: 1;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

img {
    width: 100%;
}

@media (max-width: 500px) {

    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 300px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}