.progress-bar {
    width: 200px;
    height: 20px;
    background-color: #eee;
    position: relative;
  }
  .fill {
    height: 100%;
    background-color: blue;
    position: absolute;
    animation-name: fill;
    animation-duration: 5s;
    animation-timing-function: linear;
  }
  
  @keyframes fill {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

a{
  text-align:center;
  font-family: Arial, sans-serif;
  color:red;
}
body {
  position: absolute;
    top: 40%;
    position: fixed;
    po