*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightpink;
}

h1{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: palegoldenrod;
    border-right: .1em solid lightseagreen;
    overflow: hidden;   
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3s steps(28, end);
}

@keyframes typing{
    from { width: 0 }
    to { width: 11em }
}

