@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Delicious Handrawn', cursive;
    color: white;
    background-color: black;
    max-width: 40rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

}
header,footer{
    padding: 4em;
    text-align: center;
}
p{
    font-size: 16px;
}
/* main{
    background-color:lightblue;
} */

.gallery {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

img{
    object-fit: contain;
    width: 100%;
    border: 5px solid black;
}