body {
    background: #111;
    color: rgb(255, 250, 250);
}

h1 {
    display: flex;
    justify-content: center;
    background-color: darkviolet;
}

nav {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-around;
}

a {
    color: springgreen;
}