body {
	background: yellow;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 30px;
	position: relative;
  }
  
  .loading {
	display: flex;
	transition: opacity 0.5s ease-in;
  }
  
  .circle {
	background-color: pink;
	border-radius: 100%;
	margin: 10px;
	height: 100px;
	width: 100px;
	animation: jump 0.6s ease-in infinite;
	animation-iteration-count: infinite;
  }
  
  .circle:nth-of-type(2) {
	animation-delay: 0.1s;
	background-color: red;
  }
  
  .circle:nth-of-type(3) {
	animation-delay: 0.3s;
	background-color: orange;
  }
  
  @keyframes jump {
	0% {
	  transform: translateY(0);
	  filter: hue-rotate(360deg);
	}
  
	50% {
	  transform: translateY(-20px);
	  filter: hue-rotate(360deg);
	}
  }



